<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="INIFilePath" value="ConfigurationFiles\ModbusRangeConfig.ini" />
		<add key="JsonFilePath" value="ConfigurationFiles\ModbusRtuConfig.json" />
		<add key="SlaveDeviceInfoPath" value="ConfigurationFiles\SlaveDeviceInfo.json" />
		<add key="SlaveInfoPath" value="ConfigurationFiles\SlaveInfo.json" />
	</appSettings>
</configuration>
